.erasebg{
     background: rgb(11, 11, 59);
     color: white;
     margin-top: 40px;
}

.buttuon{
     background: rgb(53, 4, 4);
     color: white;
     font-size: bold;
}
buttun{
     background: green;
     color: white;
     font-size: bold;
}